{% extends 'mainTemplate.html' %}
{% load static %}
{% block title %}Fragebogen{% endblock title %}
{% block link %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<script src="{% static 'script/fragebogen_liste.js' %}"></script>
{% endblock link %}


{% block content %}

<div class="container">


    {% for fragebogen in bogen %}

    <div class="card text-white bg-dark">
      <div class="card-body">
        <h4 class="card-title">{{ fragebogen.fragebogen_name }}</h4>
        <p class="card-text">{{ fragebogen.katalog }}</p>
        <a href="{% url 'Lernplattform:fragebogenDetails' fragebogen.pk%}">
          <h1>GEILO</h1>
        </a>
      </div>
    </div>
    
    {% endfor %}



</div>
<script>
  let btns = document.getElementsByClassName("card-btn")
  
  Array.from(btns).forEach(x => x.addEventListener("click", function(){
    var id = this.id;
    var url = this.getAttribute("href");
    window.location.href = url;
  }));
</script>

{% endblock content %}