{% extends 'mainTemplate.html' %}
{% load static %}
{% block title %}Anmeldung{% endblock title %}
{% block link %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<script src="{% static 'script/fragebogen_liste.js' %}"></script>
{% endblock link %}


{% block content %}

<div class="container">
    <h2>Einloggen</h2>
    <form action="post" method="post" enctype="multipart/form-data">{% csrf_token %}
        <input type="email" name="email" placeholder="E-Mail">
        <input type="password" name="password" placeholder="Passwort">
        <button type="submit">Einloggen</button>

    </form>
</div>














{% endblock content %}